/build
*~
*.apk
*.dex
*.ap_
*.class
*.log
.DS_Store
R.java
R.java.d
BuildConfig.java
Manifest.java
bin/
classes/
gen/
tmp/
build/
*/build/
proguard/
proguard_logs/
.idea/
.gradle/*
*.bin
.navigation/
captures/
*.iml
local.properties
gradle.properties